.buttonToCustomAndPre {
    color: yellow;
    font-weight: bold;
    min-height: 100px;
    font-size: 1.5rem;
    border-width: 1px;
    background-color: #99CC66;
    transition-duration: 0.5s;
}

.buttonToCustomAndPre:hover {
    background-color: lightgrey;
    color: blue;
}

.imgText {
    font-size: 3rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
}


