.h1text {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3rem;
    margin-bottom: 0.75%;
}

.buttonToCustomAndPre {
    color: blue;
    font-weight: bold;
    min-height: 100px;
    font-size: 3rem;
    border-width: 1px;
    border-radius: 2rem;
    background-color: grey;
    transition-duration: 0.5s;
}

.buttonToCustomAndPre:hover {
    background-color: lightgrey;
    color: blue;
}

.buttonsPresentation {
    text-align: center;
}

.spaceBetweenButtons {
    width: 30px;
    height: auto;
    display: inline-block;
}

.img {
    text-align: center;
    margin-top: 50px;
    flex: 33.33%;
}

.imgText {
    font-size: 3rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
}

.imagesAndText {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}


