* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #fff;
}

.titlePath {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
}

button.button:hover {
    background-color: green;
    transition: 0.7s;
}